NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_ARCIUM_RPC_URL=https://devnet.helius-rpc.com
NEXT_PUBLIC_SHADOWPERP_PROGRAM_ID=
NEXT_PUBLIC_ARCIUM_PROGRAM_ID=Arcj82pX7HxYKLR92qvgZUAd7vGS1k4hQvAFcPATFdEQ
NEXT_PUBLIC_ARCIUM_MXE_PROGRAM_ID=
NEXT_PUBLIC_ARCIUM_CLUSTER_OFFSET=456
NEXT_PUBLIC_ARCIUM_CLUSTER_ACCOUNT=
NEXT_PUBLIC_SHADOWPERP_MARKET_ACCOUNT=
