NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SHADOWPERP_PROGRAM_ID=
NEXT_PUBLIC_ARCIUM_PROGRAM_ID=3R4wZSJFTfCJyofLGrVHPCyjMgP8x2cJCDwKUANKsMAE
NEXT_PUBLIC_ARCIUM_CLUSTER_ACCOUNT=
NEXT_PUBLIC_SHADOWPERP_MARKET_ACCOUNT=
NEXT_PUBLIC_ARCIUM_MEMPOOL_ACCOUNT=
NEXT_PUBLIC_ARCIUM_EXECUTING_POOL=
NEXT_PUBLIC_ARCIUM_COMPUTATION_ACCOUNT=
NEXT_PUBLIC_ARCIUM_POOL_ACCOUNT=
NEXT_PUBLIC_ARCIUM_SIGN_PDA_ACCOUNT=
